<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>BirdWatchr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
  <h1>Spotted a bird?</h1>
  <form method="POST" action="/sightings">
    <label>What bird?</label>
    <input type="text" name="sighting[bird]">
    <label>Where?</label>
    <input type="text" name="sighting[address]">
    <input type="submit" value="Create">
  </form>
</body>
</html>

