<!DOCTYPE html>
<html ng-app="SampleApp">
<head>
  <meta charset="UTF-8">
  <title>sample app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/dogs_controller.js"></script>
</head>
<body>

  <div ng-controller="DogsController as dogs">
    <input type="text" ng-model="dogs.new">
    <button ng-click="dogs.add()">Add Dog</button>
    <ul id="dogs">
    </ul>
  </div>

</body>
</html>

